Repository Tanjiro94/oclaris: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent', prettier --write

feat(dashboard back): add dashboard back api for stats and some tests
  back/src/config/app.ts
  back/src/modules/dashboard/controllers/dashboard.controller.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/modules/dashboard/validator/dashboard.ts
  back/src/routes/dashboard.ts
  back/src/tests/integ/dashboard.test.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

feat(dashboard back): add dashboard back api for stats and some tests (#25)
  back/src/config/app.ts
  back/src/modules/dashboard/controllers/dashboard.controller.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/modules/dashboard/validator/dashboard.ts
  back/src/routes/dashboard.ts
  back/src/tests/integ/dashboard.test.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

fix(mailer): use only onboarding email
  back/src/infra/mail/mailer.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

feat(dashboard): connect the back in front dashboard
  back/src/modules/dashboard/services/dashboard.service.ts
  docker-compose.yml
  front/src/pages/DashboardView.vue
  front/src/ts/api/dashboard.ts
  front/src/ts/api/validator/dashboard.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

fix(dashboard-front): fix title property)
  front/src/pages/DashboardView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent'

fix(dashboard-test-back): fix tests on dashboard backend
  back/src/tests/integ/dashboard.test.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

Feature/dashboard connect f w b (#48)
  back/src/infra/mail/mailer.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/tests/integ/dashboard.test.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
  docker-compose.yml
  front/src/pages/DashboardView.vue
  front/src/ts/api/dashboard.ts
  front/src/ts/api/validator/dashboard.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

fix(dashboard): add Top-5 fallback and prevent empty chart on front
  back/src/infra/db/prismaClient.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/modules/dashboard/validator/dashboard.ts
  back/src/scripts/db-checks.ts
  back/src/scripts/reset-password.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
  front/src/pages/DashboardView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

fix(ci-dashboard): fix dashboard ci double use off getDashboardData
  front/src/pages/DashboardView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent'

fix(ci-dashboard): double use off getDashboard and onMounted
  front/src/pages/DashboardView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent'

Feature/dashboard connect f w b (#49)
  back/src/infra/db/prismaClient.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/modules/dashboard/validator/dashboard.ts
  back/src/scripts/db-checks.ts
  back/src/scripts/reset-password.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
  front/src/pages/DashboardView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

Merge stagging into main with a proper dashboard (#50)
  back/src/infra/db/prismaClient.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/dashboard/services/dashboard.service.ts
  back/src/modules/dashboard/validator/dashboard.ts
  back/src/scripts/db-checks.ts
  back/src/scripts/reset-password.ts
  back/src/tests/integ/dashboard.test.ts
  back/src/tests/unit/dashboard.schema.test.ts
  back/src/tests/unit/dashboard.service.test.ts
  docker-compose.yml
  front/src/pages/DashboardView.vue
  front/src/ts/api/dashboard.ts
  front/src/ts/api/validator/dashboard.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

feat(front/back): back info perso + add/delete gear
  back/src/config/app.ts
  back/src/modules/gear/controllers/gear.controller.ts
  back/src/modules/gear/services/gear.service.ts
  back/src/modules/gear/validator/gear.ts
  back/src/routes/gear.ts
  back/src/tests/unit/gear.schema.test.ts
  back/src/tests/unit/gear.service.test.ts
  front/base.css
  front/src/components/Account/FavoriteView.vue
  front/src/components/Account/PersonnalData.vue
  front/src/components/Account/addGearDialog.vue
  front/src/components/SelectableButton.vue
  front/src/components/SelectableGroup.vue
  front/src/components/UiDialog.vue
  front/src/components/UiHeader.vue
  front/src/components/UiSelect.vue
  front/src/pages/AccountView.vue
  front/src/router/index.ts
  front/src/ts/Input.ts
  front/src/ts/api/gear.ts
  front/src/ts/api/validator/gear.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent', prettier --write

feat(front-back): cloture la page Account avec reset password fonctionnel
  back/src/infra/mail/mailer.ts
  back/src/infra/mail/resetPasswordMailer.ts
  back/src/modules/auth/services/passwordReset.service.ts
  front/src/App.vue
  front/src/pages/AccountView.vue
  front/src/pages/ResetPasswordView.vue
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

fix(ci): add type in front da validator
  front/src/ts/api/validator/da.ts
Due: bash -lc 'cd front && npm run lint:fix --silent'

fix(da): align listFavoriteDas controller signature
  back/src/modules/da/controllers/da.controller.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

feat(back-front): generate a real art direction with ai some deteil not here
  back/package-lock.json
  back/package.json
  back/src/cli/runWorker.ts
  back/src/infra/ai/comfyClient.ts
  back/src/infra/ai/imageProvider.ts
  back/src/infra/ai/ollamaClient.ts
  back/src/infra/ai/textProvider.ts
  back/src/modules/da/controllers/da.controller.ts
  back/src/modules/da/services/da.service.ts
  back/src/modules/da/validator/da.ts
  back/src/routes/da.ts
  back/src/tests/integ/da.test.ts
  back/src/tests/unit/da.schema.test.ts
  back/src/tests/unit/da.service.test.ts
  back/src/worker/generationWorker.ts
  front/package-lock.json
  front/package.json
  front/src/components/UiHeader.vue
  front/src/components/UiOverlayLoader.vue
  front/src/components/UiTag.vue
  front/src/components/UiTextarea.vue
  front/src/components/UiToggle.vue
  front/src/pages/ArtDirectionDeteilView.vue
  front/src/pages/ArtDirectionView.vue
  front/src/pages/DashboardView.vue
  front/src/router/index.ts
  front/src/taleModel/daHistoryModel.ts
  front/src/ts/Input.ts
  front/src/ts/api/da.ts
  front/src/ts/api/validator/da.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent', prettier --write

feat(da-prep_cd): fix constraint art_direction, preparation for cd and deploiment
  back/Dockerfile
  back/prisma/schema.prisma
  back/src/config/env.ts
  back/src/infra/db/prismaClient.ts
  back/src/modules/da/controllers/da.controller.ts
  back/src/modules/da/services/da.service.ts
  back/src/modules/da/validator/da.ts
  docker-compose.prod.yml
  docker-compose.staging.yml
  front/Dockerfile
  front/src/App.vue
  front/src/pages/ArtDirectionDeteilView.vue
  front/src/pages/ArtDirectionView.vue
  front/src/ts/api/da.ts
  front/src/ts/api/validator/da.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent'

fix(ci:env): fix env database url
  back/src/config/env.ts
Due: bash -lc 'cd back && npm run lint:fix --silent'

Feature/art direction page (#69)
  back/Dockerfile
  back/package-lock.json
  back/package.json
  back/prisma/schema.prisma
  back/src/cli/runWorker.ts
  back/src/config/env.ts
  back/src/infra/ai/comfyClient.ts
  back/src/infra/ai/imageProvider.ts
  back/src/infra/ai/ollamaClient.ts
  back/src/infra/ai/textProvider.ts
  back/src/infra/db/prismaClient.ts
  back/src/modules/da/controllers/da.controller.ts
  back/src/modules/da/services/da.service.ts
  back/src/modules/da/validator/da.ts
  back/src/routes/da.ts
  back/src/tests/integ/da.test.ts
  back/src/tests/unit/da.schema.test.ts
  back/src/tests/unit/da.service.test.ts
  back/src/worker/generationWorker.ts
  docker-compose.prod.yml
  docker-compose.staging.yml
  front/Dockerfile
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/components/UiHeader.vue
  front/src/components/UiOverlayLoader.vue
  front/src/components/UiTag.vue
  front/src/components/UiTextarea.vue
  front/src/components/UiToggle.vue
  front/src/pages/ArtDirectionDeteilView.vue
  front/src/pages/ArtDirectionView.vue
  front/src/pages/DashboardView.vue
  front/src/router/index.ts
  front/src/taleModel/daHistoryModel.ts
  front/src/ts/Input.ts
  front/src/ts/api/da.ts
  front/src/ts/api/validator/da.ts
Due: bash -lc 'cd front && npm run lint:fix --silent', bash -lc 'cd back && npm run lint:fix --silent', prettier --write

chore: configure nginx and docker for staging SPA
  back/Dockerfile
  docker-compose.staging.yml
  docker/nginx/default.conf
Due: none

chore: configure nginx and docker for staging SPA (#71)
  back/Dockerfile
  docker-compose.staging.yml
  docker/nginx/default.conf
Due: none

chore: finalize nginx proxy config for staging
  docker/nginx/default.conf
Due: none

chore: finalize nginx proxy config for staging (#72)
  docker/nginx/default.conf
Due: none

chore: add staging deploy workflow
  .github/workflows/deploy-staging.yml
Due: none

chore: add staging deploy workflow (#73)
  .github/workflows/deploy-staging.yml
Due: none

chore: fix staging deploy with docker-compose down
  .github/workflows/deploy-staging.yml
Due: none

chore: fix staging deploy with docker-compose down (#74)
  .github/workflows/deploy-staging.yml
Due: none

chore: deploy staging only after successful CI
  .github/workflows/deploy-staging.yml
Due: none

chore: add staging & production deploy workflows
  .github/workflows/deploy-prod.yml
Due: none

Path conditions:
  bash -lc 'cd front && npm run lint:fix --silent': any of: front/**/*.{ts,tsx,js,jsx,vue}
  bash -lc 'cd back && npm run lint:fix --silent': any of: back/src/**/*.{ts,js}
  prettier --write: any of: *.{json,md,css}
