Repository Tanjiro94/oclaris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: test ci
  .github/workflows/ci.yml
  front/front/index.html
  package.json
Due: prettier --write

ci: test again
  .github/workflows/ci.yml
  front/front/index.html
Due: none

ci: test again
  .github/workflows/ci.yml
Due: none

ci: test again and again
  .github/workflows/ci.yml
Due: none

fix: plus de front/front -> front/node_modules + commit pour test ci
  .DS_Store
  .github/workflows/ci.yml
  .lintstagedrc.json
  back/package.json
  front/.editorconfig
  front/.gitattributes
  front/.gitignore
  front/.vscode/extensions.json
  front/README.md
  front/env.d.ts
  front/eslint.config.js
  front/index.html
  front/package-lock.json
  front/package.json
  front/public/favicon.ico
  front/src/App.vue
  front/src/main.ts
  front/src/router/index.ts
  front/src/stores/counter.ts
  front/tsconfig.app.json
  front/tsconfig.json
  front/tsconfig.node.json
  front/vite.config.ts
Due: prettier --write, eslint --fix

ci: test
  .github/workflows/ci.yml
Due: none

fix: resolution des workspace review de ci.yml + test ci
  .github/workflows/ci.yml
  back/package-lock.json
  front/package-lock.json
  package.json
Due: prettier --write

fix: ci fix
  .lintstagedrc.json
  back/.eslintrc.cjs
  back/eslint.config.js
  back/package-lock.json
  back/package.json
Due: prettier --write, eslint --fix

fix: ci fix again
  back/eslint.config.js
Due: prettier --write, eslint --fix

ci: add GitHub Actions workflow (#1)
  .DS_Store
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  CODEOWNERS
  back/eslint.config.js
  back/package-lock.json
  back/package.json
  commitlint.config.cjs
  front/.editorconfig
  front/.gitattributes
  front/.gitignore
  front/.vscode/extensions.json
  front/README.md
  front/env.d.ts
  front/eslint.config.js
  front/index.html
  front/package-lock.json
  front/package.json
  front/public/favicon.ico
  front/src/App.vue
  front/src/main.ts
  front/src/router/index.ts
  front/src/stores/counter.ts
  front/tsconfig.app.json
  front/tsconfig.json
  front/tsconfig.node.json
  front/vite.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

ci: add GitHub Actions workflow (#1) (#2)
  .DS_Store
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  CODEOWNERS
  back/eslint.config.js
  back/package-lock.json
  back/package.json
  commitlint.config.cjs
  front/.editorconfig
  front/.gitattributes
  front/.gitignore
  front/.vscode/extensions.json
  front/README.md
  front/env.d.ts
  front/eslint.config.js
  front/index.html
  front/package-lock.json
  front/package.json
  front/public/favicon.ico
  front/src/App.vue
  front/src/main.ts
  front/src/router/index.ts
  front/src/stores/counter.ts
  front/tsconfig.app.json
  front/tsconfig.json
  front/tsconfig.node.json
  front/vite.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(ui): add components
  front/base.css
  front/index.html
  front/public/assets/logo-mobile.svg
  front/public/assets/logo.svg
  front/src/App.vue
  front/src/components/UiButton.vue
  front/src/components/UiHeader.vue
  front/src/components/UiInput.vue
  front/src/components/UiMessage.vue
  front/src/components/UiTag.vue
  front/src/components/UiToggle.vue
  front/src/main.ts
  front/src/pages/LoginView.vue
  front/src/router/index.ts
  front/src/ts/Button.ts
  front/src/ts/Input.ts
Due: prettier --write, eslint --fix

fix: path fixed for Login -> LoginView
  front/src/router/index.ts
Due: prettier --write, eslint --fix

Feat/components (#9)
  front/base.css
  front/index.html
  front/public/assets/logo-mobile.svg
  front/public/assets/logo.svg
  front/src/App.vue
  front/src/components/UiButton.vue
  front/src/components/UiHeader.vue
  front/src/components/UiInput.vue
  front/src/components/UiMessage.vue
  front/src/components/UiTag.vue
  front/src/components/UiToggle.vue
  front/src/main.ts
  front/src/pages/LoginView.vue
  front/src/router/index.ts
  front/src/ts/Button.ts
  front/src/ts/Input.ts
Due: prettier --write, eslint --fix

Staging rebase fix (#10)
  front/base.css
  front/index.html
  front/public/assets/logo-mobile.svg
  front/public/assets/logo.svg
  front/src/App.vue
  front/src/components/UiButton.vue
  front/src/components/UiHeader.vue
  front/src/components/UiInput.vue
  front/src/components/UiMessage.vue
  front/src/components/UiTag.vue
  front/src/components/UiToggle.vue
  front/src/main.ts
  front/src/pages/LoginView.vue
  front/src/router/index.ts
  front/src/ts/Button.ts
  front/src/ts/Input.ts
Due: prettier --write, eslint --fix

feat(login): add login page ui
  front/base.css
  front/public/assets/logo-black.svg
  front/src/components/UiButton.vue
  front/src/components/UiMessage.vue
  front/src/pages/LoginView.vue
Due: prettier --write, eslint --fix

feat(login): add login page ui (#13)
  front/base.css
  front/public/assets/logo-black.svg
  front/src/components/UiButton.vue
  front/src/components/UiMessage.vue
  front/src/pages/LoginView.vue
Due: prettier --write, eslint --fix

feat(register:ui): add register ui page
  front/src/pages/RegisterView.vue
  front/src/router/index.ts
Due: prettier --write, eslint --fix

feat(register:ui): add register ui page (#17)
  front/src/pages/RegisterView.vue
  front/src/router/index.ts
Due: prettier --write, eslint --fix

chore(lint): silence unused _next in error handler
  back/jest.config.ts
  back/package-lock.json
  back/package.json
  back/prisma/schema.prisma
  back/src/config/ErrorHandler.ts
  back/src/config/app.ts
  back/src/config/env.ts
  back/src/core/errors/AppError.ts
  back/src/index.ts
  back/src/infra/crypto/bcrypt.service.ts
  back/src/infra/db/prismaClient.ts
  back/src/infra/mail/mailer.ts
  back/src/modules/auth/controllers/register.controller.ts
  back/src/modules/auth/controllers/verify.controller.ts
  back/src/modules/auth/route.ts
  back/src/modules/auth/services/register.service.ts
  back/src/modules/auth/services/verification-token.service.ts
  back/src/modules/auth/validator/register.schema.ts
  back/src/routes/auth.ts
  back/src/tests/integ/auth.register.test.ts
  back/src/tests/unit/register.schema.test.ts
  back/src/tests/unit/register.service.test.ts
  back/tsconfig.json
  docker-compose.yml
  docker/init/01-create-test-db.sql
Due: prettier --write, eslint --fix

ci: fix github actions env for back tests
  .github/workflows/ci.yml
Due: none

ci: fix github actions env for back tests for resend
  .github/workflows/ci.yml
Due: none

ci: fix test register use uuid in test
  back/src/tests/unit/register.service.test.ts
Due: prettier --write, eslint --fix

ci: fix test register use uuid in test mock data to pass ci
  back/src/tests/unit/register.service.test.ts
Due: prettier --write, eslint --fix

ci: fix mock in register test
  back/src/tests/unit/register.service.test.ts
Due: prettier --write, eslint --fix

ci: install cors
  back/package-lock.json
  back/package.json
Due: prettier --write

chore(lint): silence unused _next in error handler (#19)
  .github/workflows/ci.yml
  back/jest.config.ts
  back/package-lock.json
  back/package.json
  back/prisma/schema.prisma
  back/src/config/ErrorHandler.ts
  back/src/config/app.ts
  back/src/config/env.ts
  back/src/core/errors/AppError.ts
  back/src/index.ts
  back/src/infra/crypto/bcrypt.service.ts
  back/src/infra/db/prismaClient.ts
  back/src/infra/mail/mailer.ts
  back/src/modules/auth/controllers/register.controller.ts
  back/src/modules/auth/controllers/verify.controller.ts
  back/src/modules/auth/route.ts
  back/src/modules/auth/services/register.service.ts
  back/src/modules/auth/services/verification-token.service.ts
  back/src/modules/auth/validator/register.schema.ts
  back/src/routes/auth.ts
  back/src/tests/integ/auth.register.test.ts
  back/src/tests/unit/register.schema.test.ts
  back/src/tests/unit/register.service.test.ts
  back/tsconfig.json
  docker-compose.yml
  docker/init/01-create-test-db.sql
Due: prettier --write, eslint --fix

feat(login:back): add login logical, with jwt, cookie and middleware for the futures routes
  back/package-lock.json
  back/package.json
  back/src/config/app.ts
  back/src/infra/cookie/cookie.service.ts
  back/src/infra/jwt/jwt.service.ts
  back/src/middlewares/requireAuth.ts
  back/src/modules/auth/controllers/login.controller.ts
  back/src/modules/auth/route.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/auth/validator/login.schema.ts
  back/src/tests/integ/auth.login.test.ts
  back/src/tests/unit/login.schema.test.ts
  back/src/tests/unit/login.service.test.ts
  back/src/types/express.d.ts
Due: prettier --write, eslint --fix

fix(ci login): fix and debug login ci
  back/src/config/ErrorHandler.ts
  back/src/tests/integ/auth.login.test.ts
  back/src/tests/unit/login.service.test.ts
Due: prettier --write, eslint --fix

fix(ci login): fix and debug login ci in ci.yml resolve jwt_secret env variable
  .github/workflows/ci.yml
Due: none

feat(login:back): add login logical, with jwt, cookie and middleware … (#20)
  .github/workflows/ci.yml
  back/package-lock.json
  back/package.json
  back/src/config/ErrorHandler.ts
  back/src/config/app.ts
  back/src/infra/cookie/cookie.service.ts
  back/src/infra/jwt/jwt.service.ts
  back/src/middlewares/requireAuth.ts
  back/src/modules/auth/controllers/login.controller.ts
  back/src/modules/auth/route.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/auth/validator/login.schema.ts
  back/src/tests/integ/auth.login.test.ts
  back/src/tests/unit/login.schema.test.ts
  back/src/tests/unit/login.service.test.ts
  back/src/types/express.d.ts
Due: prettier --write, eslint --fix

feat(register): connect back to front, reinforcing and normalize erros
  back/src/config/ErrorHandler.ts
  back/src/config/app.ts
  back/src/core/errors/AppError.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/auth/services/register.service.ts
  back/src/tests/unit/login.service.test.ts
  back/src/tests/unit/register.service.test.ts
Due: prettier --write, eslint --fix

feat(register): connect back to front, reinforcing and normalize erros (#21)
  back/src/config/ErrorHandler.ts
  back/src/config/app.ts
  back/src/core/errors/AppError.ts
  back/src/modules/auth/services/login.service.ts
  back/src/modules/auth/services/register.service.ts
  back/src/tests/unit/login.service.test.ts
  back/src/tests/unit/register.service.test.ts
Due: prettier --write, eslint --fix

feat(register miss file): miss file for back to front
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/components/AppMessage.vue
  front/src/components/UiButton.vue
  front/src/pages/LoginView.vue
  front/src/pages/RegisterView.vue
  front/src/stores/message.ts
  front/src/ts/api/apiErrors.ts
  front/src/ts/api/auth.ts
  front/src/ts/api/client.ts
  front/src/ts/api/validator/register.ts
Due: prettier --write, eslint --fix

feat: miss
  front/src/pages/RegisterView.vue
Due: prettier --write, eslint --fix

Feature/register connect f w b (#22)
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/components/AppMessage.vue
  front/src/components/UiButton.vue
  front/src/pages/LoginView.vue
  front/src/pages/RegisterView.vue
  front/src/stores/message.ts
  front/src/ts/api/apiErrors.ts
  front/src/ts/api/auth.ts
  front/src/ts/api/client.ts
  front/src/ts/api/validator/register.ts
Due: prettier --write, eslint --fix

feat(login): back and front connected, add logout, and protected routes
  back/src/config/ErrorHandler.ts
  back/src/infra/cookie/cookie.service.ts
  back/src/modules/auth/controllers/logout.controller.ts
  back/src/modules/auth/controllers/me.controller.ts
  back/src/modules/auth/controllers/verify.controller.ts
  back/src/modules/auth/route.ts
  back/src/tests/integ/auth.logout.test.ts
  back/src/tests/integ/auth.me.test.ts
  back/src/tests/integ/auth.register.test.ts
  front/src/pages/DashboardView.vue
  front/src/pages/LoginView.vue
  front/src/pages/RegisterView.vue
  front/src/router/index.ts
  front/src/stores/auth.ts
  front/src/ts/api/auth.ts
  front/src/ts/api/client.ts
  front/src/ts/api/validator/login.ts
Due: prettier --write, eslint --fix

feat(login): back and front connected, add logout, and protected routes (#23)
  back/src/config/ErrorHandler.ts
  back/src/infra/cookie/cookie.service.ts
  back/src/modules/auth/controllers/logout.controller.ts
  back/src/modules/auth/controllers/me.controller.ts
  back/src/modules/auth/controllers/verify.controller.ts
  back/src/modules/auth/route.ts
  back/src/tests/integ/auth.logout.test.ts
  back/src/tests/integ/auth.me.test.ts
  back/src/tests/integ/auth.register.test.ts
  front/src/pages/DashboardView.vue
  front/src/pages/LoginView.vue
  front/src/pages/RegisterView.vue
  front/src/router/index.ts
  front/src/stores/auth.ts
  front/src/ts/api/auth.ts
  front/src/ts/api/client.ts
  front/src/ts/api/validator/login.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,css,vue}
  eslint --fix: any of: *.{ts,tsx,js,jsx,vue}
